.header {
  width:100%;
  height:100vh;
  position:relative;
}

.cake-header {
  position:relative;
  float:left;
  margin-left:50px;
  margin-top:10%;
  padding-right:50px;
}

#dets {
  position:absolute;
  top:25px;
  left:25px;
  width:50px;
  z-index:1;
}

#stand {
  position:absolute;
  top:72px;
  left:25px;
  width:50px;
  z-index:1;
}

.opaque {
  opacity:0;
}

#dets:hover, #stand:hover {
  cursor:pointer;
}

#navmenu {
  position:absolute;
  background-color:#C5A200;
  opacity:.7;
  width:300px;
  padding-top:20px;
  padding-bottom:20px;
  z-index:10;
  top:-300px;
  left:20px;
}

#navmenu a {
  display:block;
  text-decoration:none;
  width:180px;
  color:white;
  padding:5px;
  font-size:50px;
  font-family: 'Raleway', sans-serif;
  margin-left:20px;
  opacity:.7;
  transition: .1s opacity;
  margin-right:0px;
}

#navmenu a:hover {
  opacity:1;
}

#close {
  position:absolute;
  right:5px;
  top:5px;
  width:50px;
  opacity:.7;
  transition:.1s opacity;
}

#close:hover {
  opacity:1;
  cursor:pointer;
}

.title {
  position:relative;
  height:100%;
  font-family: 'Montserrat', sans-serif;
  color:black;
}

.title-text {
  margin-top:60%;
  position:relative;
  opacity:0;
}

.about {
  background-color:#FF9639;
  color:white;
  font-family: 'Droid Sans', sans-serif;
  text-align:center;
  padding-top:110px;
  padding-bottom:70px;
}

.info {
  padding-bottom:50px;
}

.info h2 {
  font-size:40px;
}

.info p {
  font-size:17px;
  padding-top:10px;
}

.about-icon {
  width:80px;
}

.clipboard {
  width:75px;
}

.truck {
  margin-top:12px;
  width:130px;
}

.content {
  background-color:#FF9639;
}

.highlights {
  text-align:center;
  margin-top:30px;
}

.highlights h2 {
  font-size:50px;
  font-family: 'Droid Sans', sans-serif;
}

.highlights h3 {
  display:inline;
  position:relative;
  left:-230px;
  top:60px;
  letter-spacing:-3px;
}

#line2 {
  left:230px;
  top:-50px;
}

.cakes {
  margin-top:20px;
}

.cake-creation {
  padding-left:50px;
}

.cake-creation2 {
  padding-right:50px;
}

.button-holder {
  margin-top:10px;
  position:relative;
  left:50%;
  margin-left:-150px;
  width:300px;
  height:50px;
  text-align:center;
}

.portfolio-button {
  width:300px;
  height:50px;
}

.portfolio {
  width:300px;
  height:100%;
  border:5px solid #6A9200;
  border-radius:10px;
  color:#6A9200;
  transition:.2s;
}

.portfolio p {
  font-size:25px;
  position:relative;
  left:0px;
  top:3px;
  font-family: 'Droid Sans', sans-serif;
}

.portfolio:hover {
  color:white;
  background-color:#6A9200;
}

.order-form {
  text-align:center;
  margin-top:30px;
}

.order-form h2 {
  font-size:50px;
  font-family: 'Droid Sans', sans-serif;
}

.order-form h3 {
  display:inline;
  position:relative;
  left:-140px;
  top:60px;
  letter-spacing:-3px;
}

#order-line {
  left:140px;
  top:-50px;
}

.order-desc {
  margin-top:-20px;
}

.cards {
  width:200px;
}

.cake-portfolio {
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,1);
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  width:350px;
  height:250px;
  margin-bottom:20px;
}

.form {
  position:relative;
  width:320px;
  left:50%;
  margin-left:-155px;
  text-align:center;
  font-family: 'Droid Sans', sans-serif;
}

.contactform {
  font-size:20px;
  font-weight:bold;
}

.contactform input[type=text] {
  height:40px;
  width:295px;
  margin:5px;
  text-align:left;
  padding-left:10px;
  font-size:20px;
  border:2px solid gray;
  transition:.3s background-color border;
  font-family: 'Droid Sans', sans-serif;
}

.contactform input:focus {
  background-color:#FFE363;
  border:2px solid black;
}

label {
  color:gray;
}


.contactform input[type=date] {
  height:40px;
  font-size:15px;
  width:160px;
  font-family: 'Droid Sans', sans-serif;
}

.submit {
  height:40px;
  margin:5px;
  text-align:center;
  width:200px;
  font-size:15px;
  font-family: 'Droid Sans', sans-serif;
}

.submit:hover {
  cursor:pointer;
}

#question {
  width:290px;
  height:200px;
  font-family: 'Droid Sans', sans-serif;
  margin:5px;
  text-align:left;
  font-size:20px;
  transition:.3s background-color border;
  resize: none;
  position:relative;
  left:3px;
  border:2px solid gray;
  padding-left:8px;
}

#question:focus {
  background-color:#FFE363;
  border:2px solid black;
}

body {
  overflow-x:hidden;
}

.footer {
  text-align:center;
  margin-top:130px;
  font-size:15px;
}

.footer h3 {
  font-family: Georgia, serif;
  text-align:center;
  margin-top:50px;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  .title h2 {
    font-size:20px;
  }
  .title p {
  font-size:10px;
}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .title h2 {
    font-size:30px;
  }
  .title p {
    font-size:15px;
  }
  .cake-portfolio {
   width:225px;
    height:150px;
  }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
  .title h2 {
    font-size:40px;
  }
  .title p {
    font-size:20px;
  }
    .cake-portfolio {
   width:300px;
    height:200px;
  }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
  .title h2 {
    font-size:50px;
  }
  .title p {
    font-size:25px;
  }
}